<style>
    body {
      background: url({{ (resources.Get "background/background.jpg").Permalink }}) no-repeat center top;
      background-size: cover;
      background-attachment: fixed;
    }
</style>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<div id="aplayer"></div>
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>

<script>
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    audio: []
    fixed: true
});
</script>