<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<div id="aplayer"></div>
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>

<script>
    const home= {{ .Site.Home.Permalink }};
    console.log(home);
    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        lrcType: 3,
        audio: [{
            // 本地路径引入写法（有子目录就在staticDir后面继续拼接）
            name: 'Memories of Kindness',
            artist: '鹿乃',
            url: home+ 'music/Memories of Kindness.mp3',
            cover: home+ 'music/Memories of Kindness.png',
            lrc: home+ 'music/Memories of Kindness.lrc',
        }]
        fixed: true,
    });
</script>

<style>
    body {
      background: url({{ (resources.Get "background/background.jpg").Permalink }}) no-repeat center top;
      background-size: cover;
      background-attachment: fixed;
    }
</style>